#swtDivSearch {
	position: fixed;
	right: 5px;
	top: 45px;
	z-index: 999;
	padding: 5px;
}
#swtDivSearch > button {
	padding: 5px !important;;
}

#swtDivOverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 998;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#swtDivPopup {
	border: 1px solid black;
	position: fixed;
	top: 65px;
	right: 20px;
	z-index: 999;
	width: 35%;
	min-width: 500px;
	height: 610px;
	background-color: white;
	padding: 5px;
	overflow-y: auto;
	font-family: verdana, arial, helvetica, sans-serif;

	padding-top: 40px;
}
#swtDivPopup > h3 {

}

#swtDivEntityContainer > div {
	/* Each entity has one of these divs */
	margin: ;
	clear: both;
}
#swtDivEntityContainer > div > a { 
	/* Entity headers "SAP: ORGANIZATION" */
	float: left;
	clear: both;
}
.swtDivEntityContent {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#swtDivPopup ul {
	margin: 0 !important;
	/*padding: 5px;*/
	float: left;
	width: 70% !important;
}
#swtDivPopup .swtLi {
	list-style: disc !important;
	font-size: 12px !important;
	margin-left: 20px !important;
}


.liSimilarValue[data-show_value='show']:before {
	/* Arrow down */
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
}
.liSimilarValue[data-show_value='hide']:before {
	/* Arrow right */
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid black;
}

.swtLi > a {
	color: blue !important;
}

.liSimilarValue {
	color: blue;
	font-style: italic;
	cursor: pointer;
}
.liSimilarValue:hover {
	text-decoration: underline;
}

.swtDepiction {
	width: 20%;
	/* height: 200px; */
	float: right;
}


#swtButtonClosePopup {
	position: fixed;
	right: 40px !important;
	top: 70px !important;
}


.swtHidden {
	display: none;
}


/* Visualization */
#swtSVGVisualization {
	/*width: 100%;
	height: 500px; */
	float: left;
	display: block;
	/*background-color: red;*/
	border: 1px solid black;
}

/*circle {
	display: block;
}*/

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.texts text {
	font-size: 9px;
}