#swtDivSearch {
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 999;
	padding: 5px;
}
#swtDivSearch > button {
	padding: 5px;
}

#swtDivOverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 998;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#swtDivPopup {
	border: 1px solid black;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 999;
	width: 40%;
	min-width: 500px;
	height: 900px;
	left: 20%;
	background-color: white;
	padding: 5px;
	overflow-y: auto;
	font-family: verdana, arial, helvetica, sans-serif;
}
#swtDivPopup > h3 {

}

#swtDivEntityContainer > div {
	/* Each entity has one of these divs */
	margin: ;
	clear: both;
}
#swtDivEntityContainer > div > a { 
	/* Entity headers "SAP: ORGANIZATION" */
	float: left;
	clear: both;
}
.swtDivEntityContent {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#swtDivPopup ul {
	margin: 0;
	/*padding: 5px;*/
	float: left;
	width: 70%;
}
#swtDivPopup li {
	list-style: disc !important;
}

.swtDepiction {
	width: 20%;
	/* height: 200px; */
	float: right;
}


#swtButtonClosePopup {
	position: absolute;
	right: 5px;
	top: 5px;
}


.swtHidden {
	display: none;
}


/* Visualization */
#swtSVGVisualization {
	/*width: 100%;
	height: 500px; */
	float: left;
	display: block;
	/*background-color: red;*/
	border: 1px solid black;
}

/*circle {
	display: block;
}*/

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.texts text {
	font-size: 9px;
}